<div data-controller="background" class="bg-fit bg-cover px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-2xl md:px-8 md:pb-10 md:pt-5 min-h-screen" style="background-image: url('<%= image_path('chat_top.jpeg') %>'); ">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold text-center text-white capitalize lg:text-4xl">You are chat list</h1>
    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2">
      <% @users_with_last_message.each do |item| %>
        <%= link_to message_path(item[:user].uuid) do %>
        <div class="flex flex-col items-center p-8 transition-colors duration-200 transform cursor-pointer group bg-white hover:bg-cyan-600 rounded-xl">
          <%= image_tag item[:user].profile.avatar.url, class: 'object-cover w-32 h-32 rounded-full ring-4' %>
          <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize group-hover:text-white">
            <%= item[:user].username %>
          </h1>
          <p class="mt-2 text-gray-500 capitalize group-hover:text-gray-300">
            <% if item[:last_message].image.present? %>
              画像が表示されています
            <% else %>
              <%= truncate(item[:last_message].body, length: 35) %>
            <% end %>
          </p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>