<div class="h-full bg-gray-200 p-8">
  <div class="bg-white rounded-lg shadow-xl pb-8">
    <div class="w-full h-[250px]">
      <img src="https://vojislavd.com/ta-template-demo/assets/img/profile-background.jpg" class="w-full h-full rounded-tl-lg rounded-tr-lg">
    </div>
    <div class="flex flex-col items-center -mt-20">
      <img src="https://vojislavd.com/ta-template-demo/assets/img/profile.jpg" class="w-40 border-4 border-white rounded-full">
      <div class="flex items-center space-x-2 mt-2">
        <p class="text-2xl"><%= current_user.username %></p>
        <span class="bg-blue-500 rounded-full p-1" title="Verified">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-100 h-2.5 w-2.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7"></path>
          </svg>
        </span>
      </div>
      <p class="text-gray-700">Senior Software Engineer at Tailwind CSS</p>
    </div>
    <div class="flex-1 flex flex-col items-center lg:items-end justify-end px-8 mt-2">
      <div class="flex items-center space-x-4 mt-2">
        <% if current_user %>
          <%= link_to edit_profile_path, class: "flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100" do %>
            <%= content_tag :svg, class: "w-4 h-4", xmlns: "http://www.w3.org/2000/svg", fill: "none", viewBox: "0 0 24 24", "stroke-width" => "1.5", stroke: "currentColor" do %>
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            <% end %>
            <span>編集</span>
          <% end %>
        <% end %>
        <%= link_to '#', class: "flex items-center bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 rounded text-sm space-x-2 transition duration-100" do %>
          <%= content_tag :svg, class: "w-4 h-4", xmlns: "http://www.w3.org/2000/svg", fill: "currentColor", viewBox: "0 0 24 24" do %>
            <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd"></path>
          <% end %>
          <span>トーク</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
    <div class="w-full flex flex-col 2xl:w-1/3">
      <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
        <h4 class="text-xl text-gray-900 font-bold">プロフィール</h4>
        <ul class="mt-2 text-gray-700">
          <li class="flex border-y py-2">
            <span class="font-bold w-36">ユーザーネーム:</span>
            <span class="text-gray-700"><%= current_user.username %></span>
          </li>
          <li class="flex border-b py-2">
            <span class="font-bold w-36">誕生日:</span>
            <span class="text-gray-700">24 Jul, 1991</span>
          </li>
          <% if current_user %>
            <li class="flex border-b py-2">
              <span class="font-bold w-36">Email:</span>
              <span class="text-gray-700"><%= current_user.email %></span>
            </li>
          <% end %>
          <li class="flex border-b py-2">
            <span class="font-bold w-36">趣味:</span>
            <span class="text-gray-700">English, Spanish</span>
          </li>
          <li class="flex border-b py-2">
            <span class="font-bold w-36">挑戦したいこと:</span>
            <span class="text-gray-700">English, Spanish</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col w-full 2xl:w-2/3">
      <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
        <h4 class="text-xl text-gray-900 font-bold">自己紹介</h4>
        <p class="mt-2 text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptates obcaecati numquam error et ut fugiat asperiores. Sunt nulla ad incidunt laboriosam, laudantium est unde natus cum numquam, neque facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, magni odio magnam commodi sunt ipsum eum! Voluptas eveniet aperiam at maxime, iste id dicta autem odio laudantium eligendi commodi distinctio!</p>
      </div>
    </div>
  </div>
</div>
