<header class="bg-purple-400">
  <div class="mx-auto flex h-20 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
    <%= link_to root_path, class: 'block text-black' do %>
      <%= image_tag 'crazy_man.png', style: 'width: 150px; height: 133px;' %>
    <% end %>

    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-xl">
          <li>
            <%= link_to 'RANKING', '#', class: 'text-black transition hover:text-gray-500/75' %>
          </li>

          <li>
            <%= link_to 'CHALLENGE', '#', class: 'text-black transition hover:text-gray-500/75' %>
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
          <%= link_to 'ログイン', login_path, class:'block rounded-md bg-black px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700' %>

          <%= link_to '会員登録', new_user_path, class:'block rounded-md bg-black px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700' %>
        </div>
      </div>
    </div>
  </div>
</header>