<header class="bg-blue-600">
  <div class="relative mx-auto flex h-20 w-full items-center justify-between px-4 sm:px-6 lg:px-8">
    <%= link_to root_path, class:'block text-black pt-3' do %>
      <%= image_tag 'crazy_man.png', style: 'width: 150px; height: 133px;' %>
    <% end %>

    <div class="hidden sm:flex flex-1">
      <div class="flex flex-1 items-center justify-end md:justify-between">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-xl">
            <li>
              <%= link_to 'POST LIST', posts_path, class:'text-black transition hover:text-white pl-6' %>
            </li>
            <li>
              <%= link_to 'CHALLENGE LIST', challenge_posts_path, class:'text-black transition hover:text-white pl-6' %>
            </li>
            <li>
              <%= link_to 'RANKING', ranking_posts_path, class:'text-black transition hover:text-white pl-6' %>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="hidden sm:flex flex-1 items-center justify-end">
      <div class="flex items-end gap-4">
        <div class="sm:flex sm:gap-4">
          <%= link_to 'LOGIN', login_path, class:'block rounded-md bg-black px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700' %>
          <%= link_to 'SIGNUP', new_user_path, class:'block rounded-md bg-black px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700' %>
        </div>
      </div>
    </div>

    <!--モバイル版-->
    <div class="top-0 w-10 z-30" data-controller="menu">
      <div class="flex sm:hidden text-white">
        <div class="menu-btn top-5 right-0 z-40 w-10 h-10 sm:hidden flex justify-center items-center bg-black cursor-pointer" data-action="click->menu#toggle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="menu bg-black w-2/4 fixed top-0 left-0 h-screen z-50 hidden" data-menu-target="menu">
          <div class="flex justify-center items-center gap-1 pt-5">
            <%= image_tag 'CRAZY.png', class:'w-12 h-12' %>
            <p class="text-yellow-300 text-xl font-bold">CRAZY MAN</p>
          </div>
          <div class="flex items-center justify-center hover:bg-blue-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
            </svg>
            <%= link_to 'POST LIST', posts_path, class:'block px-2 p-3 text-ml text-white transition flex items-center justify-center' %>
          </div>
          <div class="flex items-center justify-center hover:bg-blue-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
            </svg>
            <%= link_to 'CHALLENGE LIST', challenge_posts_path, class:'block px-2 p-3 text-ml text-white transition flex items-center justify-center' %>
          </div>
          <div class="flex items-center justify-center hover:bg-blue-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
            </svg>
            <%= link_to 'RANKING', ranking_posts_path, class:'block px-2 p-3 text-ml text-white transition flex items-center justify-center' %>
          </div>
          <div class="flex items-center justify-center hover:bg-blue-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:bg-blue-300">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
            </svg>
            <%= link_to 'LOGIN', login_path, class:'block px-2 p-3 text-ml text-white transition flex items-center justify-center' %>
          </div>
          <div class="flex items-center justify-center hover:bg-blue-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>
            <%= link_to 'SIGNUP', new_user_path, class:'block px-2 p-3 text-ml text-white transition flex items-center justify-center' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>