<header class="bg-blue-600">
  <div class="relative mx-auto flex h-20 w-full items-center justify-between px-4 sm:px-6 lg:px-8">
  <%= link_to posts_path, class:'block text-black pt-3' do %>
    <%= image_tag 'crazy_man.png', style: 'width: 150px; height: 133px;' %>
  <% end %>

  <div class="hidden sm:flex flex-1">
    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-xl">
          <li>
            <%= link_to 'TOP', root_path, class:'text-black transition hover:text-white pl-6' %>
          </li>
          <li>
            <%= link_to 'POST LIST', posts_path, class:'text-black transition hover:text-white pl-6' %>
          </li>
          <li>
            <%= link_to 'RANKING', ranking_posts_path, class:'text-black transition hover:text-white pl-6' %>
          </li>
          <li data-controller="dropdown" class="z-20">
            <button type="button" class="text-black transition hover:text-white pl-6" data-action="click->dropdown#toggleMenu">POST</button>
            <ul class="hidden absolute w-48 bg-white shadow-md mt-2 rounded-md py-1" data-dropdown-target="menu">
              <li>
                <%= link_to 'COMPLETE', callback_posts_path(challenge_result: 'complete'), class:'block px-4 py-2 text-sm text-slate-950 transition hover:bg-gray-300' %>
              </li>
              <li>
                <%= link_to 'GIVE UP', callback_posts_path(challenge_result: 'give_up'), class:'block px-4 py-2 text-sm text-slate-950 transition hover:bg-gray-300' %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div class="hs-dropdown relative inline-flex" data-controller="dropdown">
      <button id="hs-dropdown-custom-trigger" type="button" class="hs-dropdown-toggle py-1 ps-1 pe-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-action="click->dropdown#toggleMenu">
        <%= image_tag current_user.profile.avatar.url, class:'w-10 h-10 rounded-full' %>
        <span class="text-gray-600 text-ms truncate max-w-[7.5rem] dark:text-gray-400"><%= current_user.username %></span>
        <svg class="hs-dropdown-open:rotate-180 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
      </button>

      <div class="absolute right-0 z-10 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden top-full" data-target="dropdown.menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
        <%= link_to 'PROFILE', profile_path, class:'block px-4 py-2 text-sm text-slate-950 hover:bg-gray-300', id:'user-menu-item-0' %>
        <%= link_to 'LOGOUT', logout_path, class:'block px-4 py-2 text-sm text-slate-950 hover:bg-gray-300', id:'user-menu-item-2', data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>

  <!--モバイル版-->
  <div class="top-0 w-10 z-30" data-controller="menu">
    <div class="flex sm:hidden text-white">
      <div class="menu-btn top-5 right-0 z-40 w-10 h-10 sm:hidden flex justify-center items-center bg-black cursor-pointer" data-action="click->menu#toggle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="menu bg-black w-2/4 fixed top-0 left-0 h-screen z-50 hidden" data-menu-target="menu">
        <div class="flex justify-center items-center gap-4 pt-5">
          <%= image_tag current_user.profile.avatar.url, class:'w-12 h-12 rounded-full items-center border-2 border-white' %>
          <p class=""><%= current_user.username %></p>
        </div>
        <li data-controller="dropdown" class="z-20 block px-4 p-3 text-ml text-white transition text-center">
          <button type="button" class="text-white transition" data-action="click->dropdown#toggleMenu">POST</button>
          <ul class="hidden absolute w-48 bg-white shadow-md mt-2 rounded-md" data-dropdown-target="menu">
            <li>
              <%= link_to 'COMPLETE', callback_posts_path(challenge_result: 'complete'), class:'block px-4 py-2 text-sm text-slate-950 transition hover:bg-gray-300' %>
            </li>
            <li>
              <%= link_to 'GIVE UP', callback_posts_path(challenge_result: 'give_up'), class:'block px-4 py-2 text-sm text-slate-950 transition hover:bg-gray-300' %>
            </li>
          </ul>
        </li>
        <%= link_to 'TOP', root_path, class:'block px-4 p-3 text-ml text-white transition flex items-center justify-center hover:bg-blue-300' %>
        <%= link_to 'POST LIST', posts_path, class:'block px-4 p-3 text-ml text-white transition flex items-center justify-center hover:bg-blue-300' %>
        <%= link_to 'RANKING', ranking_posts_path, class:'block px-4 p-3 text-ml text-white transition flex items-center justify-center hover:bg-blue-300' %>
        <%= link_to 'PROFILE', profile_path, class:'block px-4 p-3 text-ml text-white transition flex items-center justify-center hover:bg-blue-300' %>
        <%= link_to 'LOGOUT', logout_path, class:'block px-4 p-3 text-ml text-white transition flex items-center justify-center hover:bg-blue-300', data: { turbo_method: :delete } %>
        <%= link_to t('defaults.terms_of_service'), terms_of_service_path, class:'block px-4 p-3 text-ml text-white transition flex items-center justify-center hover:bg-blue-300' %>
        <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class:'block px-4 p-3 text-sm text-white transition flex items-center justify-center hover:bg-blue-300' %>
        <%= link_to t('defaults.inquiry'), 'https://docs.google.com/forms/d/e/1FAIpQLSc_mvgTgd0pRUfX0sO5TjrnUxZAtf-M9j6MdoeQ8g4chVuRjA/viewform?usp=send_form', class:'block px-4 p-3 text-ml text-white transition flex items-center justify-center hover:bg-blue-300' %>
      </div>
    </div>
  </div>
</header>
