<header class="bg-purple-400">
  <div class="mx-auto flex h-20 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
  <%= link_to posts_path, class: 'block text-black' do %>
    <%= image_tag 'crazy_man.png', style: 'width: 150px; height: 133px;' %>
  <% end %>

  <div class="flex flex-1 items-center justify-end md:justify-between">
    <nav aria-label="Global" class="hidden md:block">
      <ul class="flex items-center gap-6 text-xl">
        <li>
          <%= link_to 'RANKING', '#', class: 'text-black transition hover:text-gray-500/75' %>
        </li>

        <li>
        <%= link_to 'CHALLENGE', '#', class: 'text-black transition hover:text-gray-500/75' %>
        </li>
        <li>
        <%= link_to 'POST', new_post_path, class: 'text-black transition hover:text-gray-500/75' %>
        </li>
      </ul>
    </nav>
  </div>

  <div class="inline-flex items-center gap-2 list-none lg:ml-auto" data-controller="dropdown">
    <div class="relative flex-shrink-0 ml-5">
      <div>
      <button type="button" class="flex bg-white rounded-full focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" data-action="click->dropdown#toggleMenu" aria-haspopup="true">
        <span class="sr-only">
          Open user menu
        </span>
        <%= image_tag @profile.avatar.url, class: 'w-12 h-12 rounded-full' %>
        
      </button>
      </div>

      <div class="absolute right-0 z-10 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" data-target="dropdown.menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
        <%= link_to (t 'defaults.profile'), profile_path, class:'block px-4 py-2 text-sm text-slate-950', id:'user-menu-item-0' %>
        <%= link_to (t 'defaults.logout'), logout_path, class:'block px-4 py-2 text-sm text-slate-950', id:'user-menu-item-2', data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>
</header>
