<%= form_with model: post, local: true do |f| %>
<%= f.hidden_field :challenge_result, value: post.challenge_result %>
<div data-controller="background" class="bg-fit bg-cover flex flex-col items-center justify-center min-h-screen" style="background-image:url('<%= image_path('post.jpeg') %>');">
  <%= render 'shared/error_messages', object: f.object, text_color: 'text-red-600' %>
  <div class="container m-4">
    <div class="max-w-3xl w-full mx-auto grid gap-4 grid-cols-1">

      <!-- title -->
      <div class="flex flex-col">
        <div class="bg-slate-100 border border-gray-800 shadow-lg rounded-2xl p-4 mt-3">
          <div class="flex flex-col">
            <div class="flex flex-col">
              <%= f.label :title, class:'w-full flex-none text-lg text-black font-bold leading-none mb-1'%>
              <div class="flex-auto text-black my-1">
                <%= f.text_field :title, class:'w-full mr-3 rounded-2xl' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- category -->
      <div class="flex flex-col">
        <div class="bg-slate-100 border border-gray-800 shadow-lg rounded-2xl p-4">
          <div class="w-full flex-none text-lg text-black font-bold leading-none mb-1"><%= Post.human_attribute_name(:category_ids) %></div>
          <p class="text-gray-500 mb-2">カテゴリーは最大3つまで選択できます</p>
          <div class="flex flex-wrap -mx-2">
            <% Category.all.each do |category| %>
              <div class="w-1/2 px-2">
                <%= check_box_tag 'post[category_ids][]', category.id, post.categories.include?(category) %>
                <%= label_tag "post_category_ids_#{category.id}", category.name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- content & image -->
      <div class="grid gap-4 grid-cols-1">
        <div class="flex flex-col p-4 relative items-center justify-center bg-slate-100 border border-gray-800 shadow-lg  rounded-2xl">
          <div class="w-full">
            <div class="text-center p-5 flex-auto justify-center">
              <%= f.label :content, class:'text-xl font-bold py-4 text-black' %>
              <div class="flex-auto text-black my-2">
                <%= f.text_area :content, class:'text-lg text-black p-3 rounded-2xl w-full h-40' %>
              </div>
              <div data-controller="post-preview">
                <div class="text-black text-lg font-bold"><%= Post.human_attribute_name(:images) %></div>
                <p class="pb-1 text-gray-500">画像は最大4枚まで投稿できます</p>
                <%= f.file_field :images, multiple: true, class:'text-black border-2 border-slate-400 rounded-full w-full md:w-1/2', data: { action: 'change->post-preview#previewPost', post_preview_target: 'input' } %>
                <div id="post-preview" data-post-preview-target="imageBox" class="flex flex-wrap mt-3">
                  <% if post.images.attached? %>
                    <% post.images.each do |image| %>
                      <% if image.persisted? %>
                        <%= image_tag image.variant(resize_to_limit: [800, 800]), class: 'w-40 h-40 object-cover mr-2' %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- record -->
      <% if post.challenge_result == 'complete' %>
        <div class="flex flex-col">
          <div class="bg-slate-100 border border-gray-800 shadow-lg rounded-2xl p-4">
            <div class="flex flex-col">
              <div class="flex flex-col">
                <%= f.label :record, class:'w-full flex-none text-lg text-black font-bold leading-none mb-1'%>
                <div class="flex-auto text-black my-1">
                  <%= f.text_field :record, class:'w-full mr-3 rounded-2xl' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
      <!-- retry -->
        <div class="flex flex-col">
          <div class="bg-slate-100 border border-gray-800 shadow-lg rounded-2xl p-4">
            <div class="flex items-center">
              <h2 class="flex-none text-lg text-black font-bold leading-none mr-4"><%= Post.human_attribute_name(:retry) %></h2>
              <div class="flex-auto text-black my-1 flex items-center">
                <%= f.radio_button :retry, :try, class:'mr-2' %>
                <%= f.label :retry_try, t('enums.post.retry.try'), class:'mr-6' %>
                <%= f.radio_button :retry, :no_try, class:'mr-2' %>
                <%= f.label :retry_no_try, t('enums.post.retry.no_try'), class:'mr-3 rounded-2xl' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <!-- impression_event -->
      <div class="flex flex-col">
        <div class="bg-slate-100 border border-gray-800 shadow-lg rounded-2xl p-4">
        <div class="flex flex-col">
            <div class="flex flex-col">
              <%= f.label :impression_event, class:'w-full flex-none text-lg text-black font-bold leading-none mb-1'%>
              <div class="flex-auto text-black my-1">
                <%= f.text_area :impression_event, class:'w-full h-20 mr-3 p-3 rounded-2xl' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- lesson -->
      <div class="flex flex-col">
        <div class="bg-slate-100 border border-gray-800 shadow-lg rounded-2xl p-4">
        <div class="flex flex-col">
            <div class="flex flex-col">
              <%= f.label :lesson, class:'w-full flex-none text-lg text-black font-bold leading-none mb-1'%>
              <div class="flex-auto text-black my-1">
                <%= f.text_area :lesson, class:'w-full h-20 mr-3 p-3 rounded-2xl' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right mt-4">
        <% unless post.persisted? %>
          <%= f.submit t('posts.create.post'), class:'bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-3 rounded mr-1' %>
        <% else %>
          <%= f.submit t('posts.edit.update'), class:'bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 mb-3 rounded mr-1' %>
          <%= link_to post_path(post), class:'bg-gray-400 text-white font-bold py-2.5 px-4 mb-3 rounded ml-1' do %>
            <span><%= t('posts.edit.cancel') %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
