<%= search_form_for @q, url: posts_path, method: :get, html: { class: 'form-inline flex flex-col md:flex-row relative' } do |f| %>
  <div class="form-group mb-1 flex flex-col mr-8 w-full md:w-32">
    <%= f.label :challenge_result, t('posts.index.search_form.challenge_result'), "Challenge Result", class: 'text-white' %>
    <%= f.select :challenge_result_eq, options_for_select(Post.challenge_results.map{ |k, v| [k.humanize, v] }, @q.challenge_result_eq), { include_blank: '---' }, { class: 'bg-white p-2 rounded cursor-pointer w-full' } %>
  </div>

  <div class="form-group mb-1" data-controller="dropdown-multiselect">
    <label for="category" class="text-white"><%= t('posts.index.search_form.category') %></label>
    <div data-target="dropdown-multiselect.dropdown" data-action="click->dropdown-multiselect#toggleDropdownMenu" class="dropdown bg-white p-2 rounded cursor-pointer md:w-48 flex justify-between items-center border-solid border border-slate-500">
      <span><%= t('posts.index.search_form.choose_category') %></span>
      <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    <div data-target="dropdown-multiselect.selectedItems" class="selected-items flex flex-wrap mt-1 border-1 border-blue-400"></div>
    <input type="hidden" name="category_ids_in[]" data-target="dropdown-multiselect.hiddenField">
    <div class="dropdown-menu hidden bg-gray-300 absolute z-10 rounded" data-target="dropdown-multiselect.dropdownMenu">
      <% Category.all.each do |c| %>
        <a href="#" class="dropdown-item block p-2 hover:bg-blue-500 rounded" data-value="<%= c.id %>" data-action="click->dropdown-multiselect#select"><%= c.name %></a>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col mt-3 md:absolute md:left-96 md:top-3">
    <button type="submit" class="btn btn-primary rounded bg-teal-500 hover:bg-teal-600 text-white py-2 px-5 font-semibold flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-2">
        <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
      </svg>
      <%= t('posts.index.search_form.search') %>
    </button>
  </div>

  <%= link_to reset_search_posts_path, method: :get, class: 'flex justify-center items-center p-2 mt-5 rounded bg-red-600 hover:bg-red-700 text-white font-bold md:absolute md:left-[32.5rem] md:top-[0.25rem] w-full md:w-48' do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-1">
      <path fill-rule="evenodd" d="M2.515 10.674a1.875 1.875 0 0 0 0 2.652L8.89 19.7c.352.351.829.549 1.326.549H19.5a3 3 0 0 0 3-3V6.75a3 3 0 0 0-3-3h-9.284c-.497 0-.974.198-1.326.55l-6.375 6.374ZM12.53 9.22a.75.75 0 1 0-1.06 1.06L13.19 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06l1.72-1.72 1.72 1.72a.75.75 0 1 0 1.06-1.06L15.31 12l1.72-1.72a.75.75 0 1 0-1.06-1.06l-1.72 1.72-1.72-1.72Z" clip-rule="evenodd" />
    </svg>
    <%= t('posts.index.search_form.reset') %>
  <% end %>
<% end %>

