<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-2xl md:px-24 lg:px-8 lg:py-20 min-h-screen" style="background-image: url('<%= image_path('post.jpeg') %>'); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
  <div class="grid gap-5 lg:grid-cols-4 sm:max-w-sm sm:mx-auto lg:max-w-full">
    <% @posts.each do |post| %>
    <div class="overflow-hidden transition-shadow duration-300 bg-white rounded p-8 bg-white border rounded">
      <%= image_tag(post.display_image, style: "width: 390px; height: 300px; object-fit: cover;") %>
      <div class="py-5">
        <p class="mb-2 text-xs font-semibold text-gray-600 uppercase"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
        <div class="flex space-x-2 items-center mb-6">
          <div class="w-12 h-12">
            <%= link_to user_profile_path(post.user) do %>
              <%= image_tag post.user.profile.avatar.url, class: 'rounded-full w-full h-full object-cover' %>
            <% end %>
          </div>
          <h2 class="text-base text-black"><%= truncate(post.user.username, length: 15) %></h2>
        </div>

        <div class="flex justify-center">
          <%= render 'challenge_result', { post: post } %>
        </div>

        <div class="nline-block my-3 text-black transition-colors duration-200 hover:text-deep-purple-accent-700">
        <p class="text-xl leading-5"><%= truncate(post.title, length: 28) %></p>
        </div>
        <p class="mb-4 text-gray-700"><%= truncate(post.content, length: 51) %></p>

        <div class="text-center my-4">
          <%= link_to 'Read more', post_path(post), class: 'inline-flex items-center font-semibold transition-colors duration-200 text-blue-700 hover:text-deep-blue-800 no-underline hover:underline' %>
        </div>

        <div class="flex space-x-2">
          <div class="">
            <% case post.challenge_result %>
            <% when 'complete' %>
              <%= image_tag 'likes/crazy_1.png', class: 'h-10 w-10' %>
            <% else %>
              <% if post.retry == 'try' %>
                <%= image_tag 'likes/fight_1.png', class: 'h-10 w-10' %>
              <% else %>
                <%= image_tag 'likes/nice_fight_1.png', class: 'h-10 w-10' %>
              <% end %>
            <% end %>
          </div>
          <div class="pt-2 font-bold text-ml ml-1">
            <%= post.likes_count %>
          </div>
          <div class="flex items-center text-black ml-7 mt-1 mb-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-9 h-9">
            <path fill-rule="evenodd" d="M12 2.25c-2.429 0-4.817.178-7.152.521C2.87 3.061 1.5 4.795 1.5 6.741v6.018c0 1.946 1.37 3.68 3.348 3.97.877.129 1.761.234 2.652.316V21a.75.75 0 0 0 1.28.53l4.184-4.183a.39.39 0 0 1 .266-.112c2.006-.05 3.982-.22 5.922-.506 1.978-.29 3.348-2.023 3.348-3.97V6.741c0-1.947-1.37-3.68-3.348-3.97A49.145 49.145 0 0 0 12 2.25ZM8.25 8.625a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Zm2.625 1.125a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd" />
            </svg>
            <div class="font-bold text-ml ml-1"><%= post.comments_count %></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="flex justify-center pt-10">
    <%= paginate @posts %>
  </div>
</div>
