<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-2xl md:px-24 lg:px-8 lg:py-20 min-h-screen" style="background-image:url('<%= image_path('post.jpeg') %>')">
  <div class="grid gap-5 lg:grid-cols-4 sm:max-w-sm sm:mx-auto lg:max-w-full">
    <% @posts.each do |post| %>
    <div class="overflow-hidden transition-shadow duration-300 bg-white rounded p-8 bg-white border rounded">
      <% if post.images.attached? %>
        <%= image_tag(post.images.first, style: "width: 390px; height: 300px; object-fit: cover;") %>
      <% elsif post.challenge_result == 'complete' %>
        <%= image_tag('complete.png', style: "width: 390px; height: 300px; object-fit: cover;") %>
      <% else %>
        <%= image_tag('give_up.png', style: "width: 390px; height: 300px; object-fit: cover;") %>
      <% end %>
      <div class="py-5">
        <p class="mb-2 text-xs font-semibold text-gray-600 uppercase"><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
        <div class="flex space-x-2 items-center mb-6">
          <div class="w-12 h-12">
            <%= link_to user_profile_path(post.user) do %>
              <%= image_tag post.user.profile.avatar.url, class: 'rounded-full w-full h-full object-cover' %>
            <% end %>
          </div>
          <h2 class="text-base text-black"><%= truncate(post.user.username, length: 15) %></h2>
        </div>

        <%= render 'challenge_result', { post: post } %>

        <div class="nline-block my-3 text-black transition-colors duration-200 hover:text-deep-purple-accent-700">
        <p class="text-xl leading-5"><%= truncate(post.title, length: 28) %></p>
        </div>
        <p class="mb-4 text-gray-700"><%= truncate(post.content, length: 51) %></p>

        <div class="text-center my-4">
          <%= link_to 'Read more', post_path(post), class: 'inline-flex items-center font-semibold transition-colors duration-200 text-blue-700 hover:text-deep-blue-800 no-underline hover:underline' %>
        </div>

        <div class="flex space-x-2">
          <div class="">
            <% case post.challenge_result %>
            <% when 'complete' %>
              <%= image_tag 'likes/crazy_1', class: 'h-10 w-10' %>
            <% else %>
              <% if post.retry == 'try' %>
                <%= image_tag 'likes/fight_1', class: 'h-10 w-10' %>
              <% else %>
                <%= image_tag 'likes/nice_fight_1', class: 'h-10 w-10' %>
              <% end %>
            <% end %>
          </div>
          <div class="pt-2">
            <%= render 'likes_count', { post: post } %>
          </div>

          <a href="/" aria-label="Comments" class="flex items-start text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-700 group">
            <div class="mr-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                stroke="currentColor"
                class="w-5 h-5 text-gray-600 transition-colors duration-200 group-hover:text-deep-purple-accent-700"
              >
                <polyline points="23 5 23 18 19 18 19 22 13 18 12 18" fill="none" stroke-miterlimit="10"></polyline>
                <polygon points="19 2 1 2 1 14 5 14 5 19 12 14 19 14 19 2" fill="none" stroke="currentColor" stroke-miterlimit="10"></polygon>
              </svg>
            </div>
            <p class="font-semibold">81</p>
          </a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
