<!-- component -->
<div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat" style="background-image:url('<%= image_path('top.jpg') %>')">
  <div class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8">
    <div class="text-white">
      <div class="mb-8 flex flex-col items-center">
        <img src="<%= image_path('my_dog.jpg') %>" width="150" alt="" srcset="" />
      </div>
      <%= form_with model: @user, local: true do |f| %>
        <div class="mb-4 text-lg flex flex-col">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, class: 'rounded-3xl border-none bg-yellow-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md' %>
        </div>
        <div class="mb-4 text-lg flex flex-col">
          <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, class: 'rounded-3xl border-none bg-yellow-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md' %>
        </div>
        <div class="mt-8 flex justify-center text-lg text-black">
          <%= f.submit "Login", class: 'rounded-3xl bg-yellow-400 bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-yellow-600' %>
        </div>
      <% end %>
    </div>
  </div>
</div>